*{
    padding:0px;
    margin: 0px;
}
body{
  font-size: 16px;
}
p{
  margin-bottom: 0.5rem;
}

.image{
  height: 150px;
  width: 100%;
  object-fit: contain;
}
.card-title{
  font-size: 16px;
}
.card-body ul > li{
  font-size: 14px;
}
.loaders{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 99999;
}
.spinner-border{
  position: fixed;
  left: 50%;
  right: 0;
  top: 50%;
}
.pr0{
  padding-right: 0px;
}
.pr1{
  padding-right: .25rem !important;
}
.fixed{
  width: 15.5%;
  height: 500px;
  overflow: auto;
  position: fixed;
}
@media screen and (max-width: 768px) {
  .fixed{
    width: auto;
    height: auto;
    overflow: auto;
    position: static;
  }
  .pr0{
    padding-right: 15px;
  }
  .pr1{
    padding-right: 0rem !important;
  }
}
.myFilter{
  background-color: whitesmoke;
  padding: 10px;
}


.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}